
extends layout

block content
  h1 Albums
  a(href='/albums/new') Create Album 
  table
    tr
      td Genre
      td Artist
      td Album
    
    for album in albums
      tr
        td #{album.Genre}
        td #{album.Artist}
        td 
          a(href='/albums/#{album._id}') #{album.Album}
          
