
extends layout

block content
  h1 Beers
  a(href='/beers/new') Create Beer 
  table
    tr
      td Type
      td Brewery
      td Name
    
    for beer in beers
      tr
        td #{beer.Genre}
        td #{beer.Artist}
        td 
          a(href='/beers/#{beer._id}') #{beer.Beer}
          
