extends layout

block content

  h1 Create Beer
  form(name='Add-beer' method='POST' action='/beers')
    div.input
      span.label(for='brewery') Brewery: &nbsp
      input(type='text' name='Brewery')
      br
      br
      span.label(for='beer') Name: &nbsp
      input(type='text' name='Beer')
      br
      br
      span.label(for='type') Type: &nbsp
      select(name='Type')
        option(value='Ale') Ale
        option(value='Lager') Lager
      br
      br
      input(type='submit' value='Submit')
